@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #0C0B08;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

.one {
    height: 80vh;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.section1 {
    background-color: #628EFF;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 50vh;   */
}

.login {
    opacity: 0;
    pointer-events: none;
    border-radius: 20px;
    padding: 20px;
    border: 1px dashed #8740CD;
    background: linear-gradient(180deg, #5200613f 0%, #0d0a303d 100%);
    -webkit-backdrop-filter: blur(1.2rem);
    backdrop-filter: blur(1.2rem);
    z-index: 0;
    position: fixed;
    top: 90px;
    transition: .3s;
    /* bottom: ; */
}

.time {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 2%;
    padding: 10px;
    cursor: pointer;
}

.line4,
.line5 {
    width: 25px;
    height: 2px;
    background: white;
    border-radius: 10px;
}

.line4 {
    transform: translateY(1px) rotate(45deg);
}

.line5 {
    transform: translateY(-1px) rotate(-45deg);
}

.popup {
    opacity: 1;
    pointer-events: all;
}

h2 {
    font-size: 34px;
    text-align: center;
    font-weight: 600;
}

.intro p {
    text-align: center;
}

.intro {
    margin-bottom: .8rem;
}

.card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 20px;
    width: 400px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.inputbox {
    position: relative;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translate(-3%, -50%);
    pointer-events: none;
    letter-spacing: 1.2px;
    transition: .3s;
}

.password {
    display: flex;
    align-items: center;
}

.password i {
    font-size: 1.9rem;
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translate(-3%, -50%);
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}

.password i::after {
    content: '';
    position: absolute;
    width: 26px;
    height: 2px;
    background: white;
    top: 50%;
    right: 3%;
    transform: translate(-3%, -50%) rotate(-45deg) scaleX(0);
    pointer-events: none;
    transition: transform .3s;
}

.password .not-see::after {
    transform: translate(-3%, -50%) rotate(-45deg) scaleX(1);
}

.form input::placeholder {
    opacity: 0;
}

.form input {
    background: none;
    outline: none;
    width: 100%;
    height: 40px;
    padding: 25px 12px;
    border: none;
    border-bottom: 2px solid #8640cd72;
    font-family: 'Cormorant Upright';
    font-size: 18px;
    color: #FFFFFF;
    transition: .3s;
}

.form input:focus,
.form input:valid {
    border-bottom: 2px solid #9b46f1;
}

.form input:focus~label,
.form input:valid~label {
    transform: translate(-3%, -50%) translateY(-30px) translateX(-10px);
    font-size: .85rem;
    color: #ae5dff;
}

.form input:focus::placeholder {
    opacity: 1;
}

.form input:valid~.las {
    opacity: 1;
    pointer-events: all;
}

.form {
    width: 100%;
    padding: 15px;
}

.btn {
    width: 100%;
    display: flex;
}

.submit {
    width: 200px;
    padding: .6rem 1.8rem;
    border-radius: 6px;
    border: none;
    background: linear-gradient(119deg, #628EFF 0%, #8740CD 53.13%, #580475 100%);
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Cormorant Upright';
    position: relative;
    z-index: 5;
    margin-top: .4rem;
}

.submit:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(119deg, #628EFF 0%, #8740CD 53.13%, #580475 100%);
    border-radius: inherit;
    top: 0;
    left: 0;
    z-index: -1;
    transition: .3s;
}

.submit:hover::after {
    filter: blur(.7rem);
}

.you {
    width: 200px;
    padding: .6rem 1.8rem;
    border-radius: 6px;
    border: none;
    background: linear-gradient(119deg, #628EFF 0%, #8740CD 53.13%, #580475 100%);
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Cormorant Upright';
    position: relative;
    /* z-index: 5; */
    margin-top: .4rem;
}